*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
display: flex;
justify-content:space-between;
background-color: rgba(55, 153, 115, 0.815);
color: white;
height: 70px;
box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
margin-bottom: 10px;
}

.header a{

color: white;
margin-top: 15px;
text-decoration: double;
font-weight: bold;
}

.Logo{
font-size: 25px;
align-items: center;
margin-left: 10px;
}

.enlace-c{
padding: 10px;
color: white;
text-align: right;

}

.enlace-c:hover{
background-color: rgba(7, 122, 88, 0.89);
}

nav{
font-size: 18px;
padding: 35px;
}

body {

    background: #D4D4D4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div {
    background-color: rgb(135, 146, 156);
    border: 1px solid black;
    border-radius: 7px;
    padding: 12px;
    width: 60%;
    margin: 5px auto;
}

fieldset {
    margin-bottom: 12px;
}

legend {
    background-color: rgb(178, 193, 201);
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

img {

    border-radius: 50%;
    margin-bottom: 12px;
    margin-right: 30px;
    float: left;
}
.txt{
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    background-color: white
}
.casilla{
margin: 10px;
}