*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header{
    display: flex;
    justify-content:space-between;
    background-color: rgba(55, 153, 115, 0.815);
    color: white;
    height: 70px;
    box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
  }
  
  .header a{
  
    color: white;
    margin-top: 15px;
    font-family: 'Segoe UI';
    text-decoration: double;
    font-weight: bold;
  }
  
  .Logo{
    font-size: 25px;
    align-items: center;
    margin-left: 10px;
  }
  
  .enlace-c{
    padding: 10px;
    color: white;
    text-align: right;
  
  }
  
  .enlace-c:hover{
    background-color: rgba(7, 122, 88, 0.89);
  }

  nav{
    font-size: 18px;
    padding: 35px;
  }

body{
	background: #D4D4D4;
	font-family: 'Open sans';
}

.wrap{
	width: 92%;
	margin: 20px auto;
	border-radius: 10px;
}

ul.tabs{
	width: 100%;
	background-color: rgba(34, 194, 167, 0.815);
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background-color: rgba(20, 116, 100, 0.911);
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	height: 430px;
	background-color: rgba(167, 216, 208, 0.911);
}

.secciones article{
	padding: 30px;
	margin-bottom: 10px;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 18px;
	}

	
	
}

.encu{
	width: 140px;
	height: 40px;
	color: white;
	margin-left: 45px;
	background:rgba(7, 122, 122, 0.89);
	border:rgba(0,0,0,.3) 0px solid;
	border-radius: 4px;
}
.encu:hover{
	background:rgba(3, 65, 65, 0.89);
}

.recipiente{
	width: 98%;
	height: 270px;
	margin: 3px auto;
	border-radius: 7px;
	background:rgba(243, 243, 243, 0.74);
	padding: 7px;
}

.recipi{
	margin: 5px auto;
	display: grid;
	padding: 7px;
	grid-template-columns: 25% 25% 25% 25%;
}

.enc1{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
	background:rgba(180, 87, 87, 0.384);
}

.enc2{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
	background:rgba(43, 107, 88, 0.363);
}

.enc3{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
	background:rgba(5, 116, 116, 0.384);
}
.enc4{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
	background:rgba(235, 24, 24, 0.315);
	
}

.enc1:hover{
	background:rgba(180, 87, 87, 0.911);
}
.enc2:hover{
	background:rgba(43, 107, 88, 0.856);
}
.enc3:hover{
	background:rgba(6, 129, 129, 0.863);
}
.enc4:hover{
	background:rgba(235, 24, 24, 0.836);
}

.ENM{
	padding: 10px;
	text-decoration: none;
	text-align: right;
	font-size: 20px;
	color: rgb(111, 142, 160);
	margin-left: 1000px;
}

.centra{
	margin: 100px;
	margin-left: 425px;
	text-align: center;
}