*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
  background: #D4D4D4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
  display: flex;
  justify-content:space-between;
  background-color: rgba(55, 153, 115, 0.815);
  color: white;
  height: 70px;
  box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
}

.header a{

  color: white;
  margin-top: 15px;
  text-decoration: double;
  font-weight: bold;
}

.Logo{
  font-size: 25px;
  align-items: center;
  margin-left: 10px;
}

.enlace-c{
  padding: 10px;
  color: white;
  text-align: right;

}

.enlace-c:hover{
  background-color: rgba(7, 122, 88, 0.89);
}

nav{
  font-size: 18px;
  padding: 35px;
}

.seccion{
    width: 92%;
    height: 40px;
	margin: 20px auto;
	border-radius: 2px;
    background-color: rgba(34, 194, 167, 0.815);
}

h2{
    color: white;
    padding: 4px;
}

.div1{
    width: 100%;
    height: 480px;
    border-radius: 2px;
    margin-bottom: 20px;
    background:rgba(243, 243, 243, 0.74);
    display: grid;
	  padding: 7px;
    text-decoration: none;
	  grid-template-columns: 25% 25% 25% 25%;
}

.div1 a{
  text-decoration: none;
  color: black;

}

.dv1{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
  text-decoration: none;
	background:rgba(180, 87, 87, 0.384);
}

.dv2{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
  text-decoration: none;
	background:rgba(43, 107, 88, 0.363);
}

.dv3{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
  text-decoration: none;
	background:rgba(5, 116, 116, 0.384);
}
.dv4{
	padding: 10px;
	height: 190px;
	margin: 7px;
	border-radius: 7px;
  text-decoration: none;
	background:rgba(235, 24, 24, 0.315);
	
}

.dv1:hover{
	background:rgba(180, 87, 87, 0.911);
}
.dv2:hover{
	background:rgba(43, 107, 88, 0.856);
}
.dv3:hover{
	background:rgba(6, 129, 129, 0.863);
}
.dv4:hover{
	background:rgba(235, 24, 24, 0.836);
}