
  *{  
    margin:0;
    padding:0;
  }
  
  body{
    
    background-color: #C2FFF9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /*background-image: url("images/fondo2.png");*/
 
  }
  
  header{
    display: flex;
    justify-content:space-between;
    background-color: rgba(71, 196, 109, 0.815);
    color: white;
    height: 70px;
    box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
  }
  
  .header a{
  
    color: white;
    margin-top: 15px;
    font-family: 'Segoe UI';
    text-decoration: double;
    font-weight: bold;
  }
  
  .Logo{
    font-size: 25px;
    align-items: center;
    margin-left: 10px;
  }
  
  .enlace-c{
    padding: 10px;
    color: white;
    text-align: right;
  
  }
  
  .enlace-c:hover{
    background-color: rgba(7, 122, 88, 0.89);
  }
  nav{
    font-size: 18px;
    padding: 35px;
    margin-right: 80px;
  }

.Nosos{
 margin: 0px auto;
 margin-top: 60px;
 width: 93%;
 height: 450px;
 background: rgb(255, 255, 255);
 box-shadow: 0 5px  15px 0 rgba(7, 8, 29, 0.35);
 border-radius: 2px;
 display: grid;
 grid-template-columns: 40% 60%;
}

.text {
  background: rgb(255, 255, 255);
  padding: 30px;
}

.image{
  background: rgb(34, 134, 109);
  padding: 30px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.fondo{
  width: 400px;
  height: 400px;
  margin-left: 220px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0 9px  20px 0 rgba(7, 8, 29, 0.603);
}