* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

body {
    /* background-image: url("https://www.eltelegrafo.com.ec/media/k2/items/cache/f0a2b847d424b8b7f72a16a07badc8c4_XL.jpg");*/
    background-color: #519872;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    color:white;
    font-size: 25px;
}

header nav ul {
    display: flex;
    justify-content:space-between;
    text-decoration: double;
    align-items: center;
    list-style: none;
    padding: 17px 10px;
    background-color: rgba(102, 214, 136, 0.76);
    height: 70px;
    text-align: right;
    align-items: center;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
}

header ul li {
    margin-top: 10px;
}

header a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-emphasis: none;
    padding-left: 15px;
    padding-top: 30px;
}

.titulo {
    margin: 0px auto;
    height: 40px;
    text-align: center;
    background-color:rgb(255, 255, 255);
    color: rgb(240, 60, 60);
}


.centro{
    display: grid;
    background-color:#A4B494;
    grid-template-columns: 40% 60%;
    margin-bottom: -50px;
    width: 100%;
    height: 400px;

}

.centro1{
    margin-left: 15px;
    margin-top: 10px;
}


footer{
    height: 70px;
    padding: 6px;
    margin-top: 95px;
    background-color:#346751;
    text-align: center;
    align-items: center;
}

footer h4{
    margin-top: 4px;
}

.imagen {
    margin: 10px auto;
    margin-left: 40px;
}