* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C2FFF9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form-register {
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    color: black;
    text-align: center;
    box-shadow: 7px 13px 37px #000;
}

.form-register h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.controls {
    width: 100%;
    background-color: rgba(204, 255, 235, 0.726);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(36, 3, 3);
}

.form-register p {
    margin: 10px;
    text-align: left;
    font-size: 15px;
}

.form-register a:hover {
    color: rgb(26, 24, 24);
    text-decoration: underline;
}

.form-register .botons {
    width: 50%;
    background: rgba(7, 122, 122, 0.89);
    border: rgba(0, 0, 0, .3) 0px solid;
    border-radius: 3px;
    padding: 12px;
    color: rgba(17, 16, 16, 0.904);
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.botons:hover {
    background: rgba(4, 71, 71, 0.89);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(71, 196, 109, 0.815);
    color: rgb(20, 1, 1);
    height: 70px;
    box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
}

.header a {
    color: white;
    margin-top: 15px;
    font-family: 'Segoe UI';
    text-decoration: double;
    font-weight: bold;
}

.Logo {
    font-size: 25px;
    align-items: center;
    margin-left: 10px;
}

.enlace-c {
    padding: 10px;
    color: white;
    text-align: right;
}

.enlace-c:hover {
    background-color: rgba(7, 122, 88, 0.89);
}

nav {
    font-size: 18px;
    padding: 35px;
    margin-right: 80px;
}

.not{
    text-decoration: none;
    color: black;
    margin: 3px;
  }