
fieldset {
            margin-bottom: 12px;
        }



body{
    background: url(./FONDO.jpg);
    background-size: cover;
    background-attachment: fixed;
font-family: 'Roboto', sans-serif;
}

.pregresp {
    border: 1px solid #161816;
    padding: 1px;
    margin: 15px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
  
    }
    
    .pregunta {
    color: #0b0c0c;
    }
    
    .respuestas {
    color: #000000;
}




